$accent-color: #484E52;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: url('http://files.digizup.com/bettorsight-cta/assets/img/bg-100.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.small-logo-container {
  width: 25px;
  height: 25px;
  margin: 2px;
  display: inline-block;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.row-flex{
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.teamName{
  padding-left: 5px;
}

.logo-continer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  img{
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    max-width: 100%;
    max-height: 700px;
    height: 10vh;
  }
}

.rankings-container{
  .card{
    max-height: 85vh;
  }
}

.mh-80vh{
  max-height: 80vh;
}

.overflow-auto{
  height: 100%;
  overflow: auto;
}
.overflow-hidden{
  height: 100%;
  overflow: hidden;
}
.spacing-30px{
  min-height: 30px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba( lighten($accent-color,3) ,0.3); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba($accent-color,1); 
}